Package: com.34306.jitmenu
Name: JIT IMGUI MOD MENU
Depends: mobilesubstrate
Description: IMGUI MOD MENU
Maintainer: Little 34306
Author: 34306
Architecture: iphoneos-arm
Version: 1.0
Installed-Size: 708
